extends ../layouts/main

block content

   +b.HEADER.header
      +e.row.container
         +e.logo
            img.header__img(src="../../assets/images/logo.png", alt="logo")
         +b.burger-btn
            +e.SPAN.line
            +e.SPAN.line
         +b.menu-nav
            +b.burger-close
               +e.SPAN.line
               +e.SPAN.line
            +b.UL.burger-list
               +e.LI.burger-item
                  a.burger-link(href='index.html') About company
               +e.LI.burger-item
                  a.burger-link(href='services.html') Services
               +e.LI.burger-item
                  a.burger-link(href='work.html') How we work
               +e.LI.burger-item
                  a.burger-link.active(href='contacts.html') Contact us
         +b.UL.menu-list
            +e.LI.item
               a.menu-list__link(href='index.html') About company
            +e.LI.item
               a.menu-list__link(href='services.html') Services
            +e.LI.item
               a.menu-list__link(href='work.html') How we work
            +e.LI.item
               a.menu-list__link.active(href='contacts.html') Contact us
   .page
      +b.banner
         +e.row.container
            +e.content
               +e.images-pc
                  img(src="../../assets/images/comp.png", alt="pc")
               +e.UL.list
                  +e.LI.item-text Web Development
                  +e.LI.item-text Software Development
                  +e.LI.item-text Quality Assurance
                  +e.LI.item-text Web Design
      +b.about.contacts
         +e.row.container
            +e.content
               +e.title Contacts
               +b.text-block
                  +e.sub-title Rostov na Donu:
                  +e.text Moskovskaya str., 16, office 4
                  +e.text Rostov na Donu
                  +e.text Russia, 344015
                  +e.text Phone: +7 (903) 406 37 60
               +b.text-block
                  +e.sub-title E-mail:
                  +e.UL.list
                     +e.LI.item
                        a.text-block__link(href='mailto:info@atgroupsolutions.com') info@atgroupsolutions.com
                     +e.LI.item
                        a.text-block__link(href='mailto:info@atgroupsolutions.com') info@atgroupsolutions.com
            +b.card
               +e.item
                  a.card__link(href='services.html') .Net Development
                  +e.text CRM, Document Managment Systems, Web applications and Web Services
               +e.item
                  a.card__link(href='services.html') Microsoft Reporting Services
                  +e.text Solid platform for reporting in your application
               +e.item
                  a.card__link(href='services.html') PHP MySql development
                  +e.text EComerce Platforms, Online Stores, Corparate and personal websites