extends ../layouts/main

block content
   .page
      +b.banner
         +e.row.container
            +e.content
               +e.images-pc
                  img(src="../../assets/images/comp.png", alt="pc")
               +e.UL.list
                  +e.LI.item-text Web Development
                  +e.LI.item-text Software Development
                  +e.LI.item-text Quality Assurance
                  +e.LI.item-text Web Design
      +b.about
         +e.row.container
            +e.content
               +e.title About company
               +b.text-block
                  +e.text Welcome to <strong>AT Group Systems</strong> software Development Company. Based in Rostov on the Don, the largest education and research center in southern Russia, we offer high quality, timely and cost effective answers for all your software needs. With over 10 years in the offshore market, our team of experienced pros has the needed skills to give your company an edge in the competitive field of software development. Our services offer a cost efficient  alternative to local outsourcing or hiring, both expensive in terms of time and money.  It can also allow your company to make freer use of its own resources for more high value, priority work in key areas of competence. Many firms today have concerns about utilizing offshore IT services due to stories they have heard or bad experiences. Our many years experience in the market, communicating closely withclients can and will eliminate many of the concerns and unpleasant situations typically associated with utilizing offshore providers. Contact us and see what a difference our years experience can make.
               +b.text-block
                  +e.text Сlients who have benefited from the AT Group Systems approach include:
               +b.UL.text-block
                  +e.list
                     +e.LI.item
                        a.text-block__link(href='http://www.astutesolutions.com/') Astute Solutions, USA
                     +e.LI.item
                        a.text-block__link(href='http://atgi.com/') Active Technology Group Inc, USA
                     +e.LI.item
                        a.text-block__link(href='http://cmo-software.com/')  CMO Compliance, UK
                  +e.item and more...
            +b.card
               +e.item
                  a.card__link(href='services.html') .Net Development
                  +e.text CRM, Document Managment Systems, Web applications and Web Services
               +e.item
                  a.card__link(href='services.html') Microsoft Reporting Services
                  +e.text Solid platform for reporting in your application
               +e.item
                  a.card__link(href='services.html') PHP MySql development
                  +e.text EComerce Platforms, Online Stores, Corparate and personal websites