extends ../layouts/main

block content

   +b.HEADER.header
      +e.row.container
         +e.logo
            img.header__img(src="../../assets/images/logo.png", alt="logo")
         +b.burger-btn
            +e.SPAN.line
            +e.SPAN.line
         +b.menu-nav
            +b.burger-close
               +e.SPAN.line
               +e.SPAN.line
            +b.UL.burger-list
               +e.LI.burger-item
                  a.burger-link(href='index.html') About company
               +e.LI.burger-item
                  a.burger-link(href='services.html') Services
               +e.LI.burger-item
                  a.burger-link.active(href='work.html') How we work
               +e.LI.burger-item
                  a.burger-link(href='contacts.html') Contact us
         +b.UL.menu-list
            +e.LI.item
               a.menu-list__link(href='index.html') About company
            +e.LI.item
               a.menu-list__link(href='services.html') Services
            +e.LI.item
               a.menu-list__link.active(href='work.html') How we work
            +e.LI.item
               a.menu-list__link(href='contacts.html') Contact us
   .page
      +b.banner
         +e.row.container
            +e.content
               +e.images-pc
                  img(src="../../assets/images/comp.png", alt="pc")
               +e.UL.list
                  +e.LI.item-text Web Development
                  +e.LI.item-text Software Development
                  +e.LI.item-text Quality Assurance
                  +e.LI.item-text Web Design
      +b.about.work
         +e.row.container
            +e.content
               +e.title How we work
               +b.text-block
                  +e.sub-title Software Development Process Overview
                  +e.text Our company provides support of entire development cycle:
                  +e.text gathering of requirements
                  +e.text specification development
                  +e.text software development
                  +e.text testing
                  +e.text deployment
                  +e.text training/documentation
                  +e.text support
               +b.text-block
                  +e.text In our work we always keep close communication with our customers, including e-mail, IME chat, or voice communication. We provide presentation of our progress on each stage of development, and improve our work basing on customer’s reviews. Ability to keep close and clear communication is important part of the product development success.
               +b.text-block
                  +e.sub-title Development Services Cost
                  +e.text We offer competitive rates in bundle with quality and experience. We negotiate three types of contracts:
                  +e.text <em>Fixed-price</em> - for projects with detailed specifications, the fixed buget and timeframe job.
                  +e.text <em>Time based</em> - for project and consulting services where immediate work is performed on customer's request
                  +e.text <em>Dedicated developer</em> - fixed price per month for a dedicated developer
               +b.text-block
                  +e.text For all projects we provide complete accounting of time and other expenses you need.
            +b.card
               +e.item
                  a.card__link(href='services.html') .Net Development
                  +e.text CRM, Document Managment Systems, Web applications and Web Services
               +e.item
                  a.card__link(href='services.html') Microsoft Reporting Services
                  +e.text Solid platform for reporting in your application
               +e.item
                  a.card__link(href='services.html') PHP MySql development
                  +e.text EComerce Platforms, Online Stores, Corparate and personal websites