mixin header()
   +b.HEADER.header
      +e.row.container
         +e.logo
            img(src="../../assets/images/logo.png", alt="logo")
         +e.burger-btn
            +e.SPAN.line
            +e.SPAN.line
         +e.menu-nav
            +e.burger-close
               +e.SPAN.line
               +e.SPAN.line
            +e.UL.burger-list
               +e.LI.burger-item
                  a(href='index.html') About company
               +e.LI.burger-item
                  a(href='services.html') Services
               +e.LI.burger-item
                  a(href='work.html') How we work
               +e.LI.burger-item
                  a(href='contacts.html') Contact us
         +e.UL.list
            +e.LI.item
               a(href='index.html') About company
            +e.LI.item
               a(href='services.html') Services
            +e.LI.item
               a(href='work.html') How we work
            +e.LI.item
               a(href='contacts.html') Contact us