webfont('Circe-Bold', 'Circe-Bold')
webfont('Circe-ExtraBold', 'Circe-ExtraBold')
webfont('Circe-Thin', 'Circe-Thin')
webfont('Circe-Regular', 'Circe-Regular')
webfont('ProximaNova-Light', 'ProximaNova-Light')
webfont('ProximaNova-Semibold', 'ProximaNova-Semibold')