.about

   &__row
      display flex
      justify-content space-between

   &__title
      font-family "Trebuchet MS", Arial, Helvetica, sans-serif
      font-size 28px
      color #BC0000
      margin-bottom 20px

   &__text
      margin-bottom 21px
      color #343434
      font-family Tahoma,Arial,sans-serif
      line-height 24px
      font-size 13px
      padding-right 15px

   &__item
      font-family Tahoma, Arial, sans-serif
      font-size 13px

      a
         color #BC0000
         text-decoration underline
         font-family Tahoma, Arial, sans-serif
         font-size 13px
         padding-bottom 5px
         display inline-block
         &:hover
            text-decoration none

   &__card
      width 290px
      min-width 290px
      background-color #a80000
      margin-bottom 17px
      display flex
      flex-direction column
      align-items center
      padding 42px 20px
      text-align center

      a
         color #fc0
         font-family Tahoma, Arial, sans-serif
         font-size 13px
         text-decoration underline
         &:hover
            text-decoration none

   &__card-text
      color #fff
      font-family Tahoma, Arial, sans-serif
      font-size 13px

   &__services-text
      color #343434
      font-family Tahoma, Arial, sans-serif
      font-size 13px
      line-height 24px
      padding-right 15px

      &:nth-child(6)
         padding-bottom 23px

      &:last-child
         padding-top 20px

   &__text-list
      color #343434
      font-family Tahoma, Arial, sans-serif
      font-size 13px
      line-height 24px
      padding-right 15px
      padding-bottom 6px

   &__text-item
      padding-right 15px
      color #343434
      font-family Tahoma, Arial, sans-serif
      font-size 13px
      line-height 24px

   &__work-text
      padding-right 15px
      color #343434
      font-family Tahoma, Arial, sans-serif
      font-size 13px
      line-height 24px
      padding-top 20px
      padding-bottom 20px

   &__sub-title
      font 20px "Trebuchet MS", Arial, Helvetica, sans-serif
      color #BC0000

   &__contact-sub-title
      font 20px "Trebuchet MS", Arial, Helvetica, sans-serif
      color #BC0000
      padding-top 20px

@media screen and (max-width: 767px)
   .about

      &__row
         flex-direction column

      &__card
         min-width 250px
         width 100%

      &__services-text
         padding-bottom 40px