.footer
   padding 0 20px

   &__row
      padding 40px 20px
      background-color #a00000
      display flex
      align-items center

   &__text
      font-family Tahoma, Arial, sans-serif
      font-size 13px
      color #fff

@media screen and (max-width: 767px)

   .footer
      padding 0 10px
