.header
   padding 0 20px

   &__row
      display flex
      position relative

   .container
      padding 43px 0

   &__logo

      img
         max-width 200px
         height 63px

   &__list
      display flex
      align-items center
      justify-content flex-end
      width 100%
      margin-bottom 0px

   &__item
      padding 19px 16px
      transition all 0.3s ease

      a
         color #343434
         text-decoration none
         &:hover
            text-decoration underline

   &__line
      width 30px
      height 5px
      position absolute
      background-color #202924
      transition all 0.3s ease
      top 12px
      right 5px

      &:last-child
         right 5px
         top 25px

   &__burger-list
      display flex
      justify-content space-between

   &__line,
   &__burger-list
      display none

   &__burger-item

      a
         font-size 16px
         color #202925
         margin 0px 40px 10px 0px
         transition all 0.3s ease

      &:last-child
         margin 0

   &__burger-item

      &:hover
         opacity 0.7

@media screen and (max-width: 767px)
   .header
      padding 0 10px

      &__row
         align-items center
         justify-content space-between

      .container
         padding 15px 0

      &__line
         display block

      &__burger-btn
         position relative
         width 40px
         height 40px
         margin-left 30px

      &__burger-close
         position absolute
         top 35px
         right 10px
         width 40px
         height 40px

         .header__line
            transform translateY(0px) rotate(125deg)
            transition all 0.2s ease

            &:last-child
               transform translateY(-12px) rotate(55deg)
               transition all 0.2s ease

      &__menu-nav
         width 80%
         height 100%
         position fixed
         right -100%
         top 0
         background-color #f2f3f7
         transition all 0.3s ease
         z-index 30
         display flex
         flex-direction column
         overflow-y scroll
         padding 90px 20px 40px 40px

      .js-is-active

      &:last-child
         height 100%
         position fixed
         right 0
         top 0
         background-color #f2f3f7
         transition all 0.3s ease
         z-index 30

      &__burger-list
         display block
         margin 0

      &__burger-item

         a
            font-size 24px
            line-height 136.4%
            color #202925
            display inline-block

      &__list
         display none