body
    background-color #EAECED
    color #343434
    font Tahoma, Arial, sans-serif

.header
    &__container
        margin 0 auto
        max-width 1260px

    &__row
        display flex

    &__list
        display flex
        align-items center
        width 100%

    &__item
        padding 19px 16px
        
        a
            color #343434
