body
   background-color #EAECED
   color #343434
   font Tahoma, Arial, sans-serif
   background-color #EAECED
   color #343434
   font Tahoma, Arial, sans-serif

.container
   padding: 0 20px
   margin 0 auto
   max-width 1260px


.header
   &__container
      margin 0 auto
      max-width 1260px

   &__row
      display flex

   &__list
      display flex
      align-items center
      width 100%

   &__item
      padding 19px 16px

      a
         color #343434

   &__row
      display flex
      padding-top 43px
      margin-bottom 43px

   &__logo

      img
         width 284px
         height 63px

   &__list
      display flex
      align-items center
      justify-content space-evenly
      width 100%
      margin-bottom 0px

   &__item
      padding 19px 16px
      transition all 0.3s ease

      a
         color #343434
         text-decoration none

      &:checked
         background-color #fff

.page

   &__row
      width 100%
      background-color #a00000
      display flex
      align-items center
      justify-content space-evenly
      padding 55px 0px
      margin-bottom 39px

   &__item-text
      color #fff
      font-size 20px
      font-weight bold
      list-style-type disc

.about

   &__row
      display flex

   &__title
      font 28px "Trebuchet MS", Arial, Helvetica, sans-serif
      color #BC0000
      margin-bottom 20px

   &__text
      margin-bottom 21px
      color #343434
      font 13px Tahoma, Arial, sans-serif
      padding-right 15px
      flex-basis 831px

   &__item
      font 13px Tahoma, Arial, sans-serif
      a
         color #BC0000
         text-decoration underline
         font 13px Tahoma, Arial, sans-serif
         padding-bottom 5px
         display inline-block

   &__sidebar
      min-width 290px

   &__card
      width 100%
      background-color #a80000
      margin-bottom 17px
      display flex
      flex-direction column
      align-items center
      padding 42px 20px
      text-align center

   &__sidebar-item
      a
         color #fc0
         font 13px Tahoma, Arial, sans-serif
         text-decoration underline

   &__sidebar-text
      color #fff
      font 13px Tahoma, Arial, sans-serif

.footer

   &__row
      padding 40px 20px
      background-color #a00000
      display flex
      align-items center

   &__text
      font 13px Tahoma, Arial, sans-serif
      color #fff